.botao {
  position: relative;
  background-color: #ff6f61;
  color: white;
  text-decoration: none;
  padding: 14px 28px 14px 24px; 
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(255, 111, 97, 0.5);
}


.botao::before {
  content: '➔';
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: white;
  transition: left 0.3s ease;
}

.botao:hover {
  background-color: #ff4a3d;
  transform: scale(1.05);
}

.botao:hover::before {
  left: 8px; 
}
